@{
    ViewData["Title"] = "Home";
}

<br/>
<br/>
<!--begin::Top-->
<div class="text-center mb-15">
    <!--begin::Title-->
    <h3 class="fs-2hx text-gray-900 mb-5">Welcome to the RentNDeliver Platform</h3>
    <!--end::Title-->
    <!--begin::Text-->
    <div class="fs-5 text-muted fw-semibold">
        <p>
            This platform was written as part of job interview challenge.
        </p> 
        This main objective is to manage a company that offers Motorcycle rental and Delivery
    </div>
    <!--end::Text-->
</div>
<!--end::Top-->